<!DOCTYPE html>
<html>
    <head>
        <title>Account Activation</title>

    </head>
    <body>
        <h1>Account Activation</h1>
        <p>Hi <%= user.username %>,</p>
        <p>Thank you for registering. Please use the following activation code to activate</p>
        <p><%= activationCode %></p>
        <p>please enter this code on the activation page within next 5 minutes.</p>
        <p>Thanks</p>
</html>
